django
gunicorn
dj-database-url
psycopg2-binary
django_jazzmin
django-otp
django-axes
whitenoise
django-two-factor-auth
django-phonenumber-field
phonenumbers
python-dotenv
openai
Pillow>=10.0.0
whitenoise==6.8.2
